body {
    background-color: #333;
    color: #fff;
}

.App{
    text-align: center;
}

.taskBg{
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
    display: flex;
}

.taskBg .text{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 15px;
}

.taskNumber{
    color: #999;
    border:1px solid #999;
    border-radius: 50%;
    width: 26px;
    height:26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.taskBg.done.taskText{
    text-decoration: line-through;
    opacity: 0.3;
    flex: 1;
}
.btn{
    border: 1px solid white;
    color: white;
}
.num{
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
}
.taskText{
   flex: 1;
}
.income{
    text-align: center;
}
.expense{
    text-align: center;
}